<!--
  COMPONENTE PRINCIPAL
  Sistema de Gestión de Trámites FUT
  I.E. N.° 20191 Alfonso Ugarte

  Aquí se controla la estructura general de la aplicación.
  Las diferentes funcionalidades se irán agregando mediante
  componentes y rutas.
-->

<main class="app-container">

  <!--
    Por ahora mostramos el componente de Login.

    Más adelante Angular Router permitirá navegar entre:
    - Login
    - Dashboard
    - Registrar FUT
    - Consulta documental
    - Seguimiento
    - Observaciones y respuesta
  -->

  <router-outlet></router-outlet>

</main>
